/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  align-items: center;
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--fw-small-light);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.block-size {
  width: clamp(375px, 100vw, 700px);
}

.header {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  font-family: var(--same-font);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* заголовок и подзаголовок */
.header-title {
  font-size: clamp(3.0625rem, 2.7091rem + 1.5038vw, 4.0625rem);
  text-transform: uppercase;
  padding-block-start: clamp(120px, 16vw, 136px);
}

.header-subtitle {
  padding-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  font-weight: 400;
}

/* кнопки */
.theme-menu {
  padding-inline-start: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-block-start: 23px;
  padding-block-end: 22px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  background-color: transparent;
  border: none;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

/* animation */

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  left: -14px;
  animation: play ease-in-out 0.5s infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 2px;
  opacity: 0.6;
  transform-origin: left;
  transition: transform 0.3s;
  background-color: currentColor;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/* карточка */
.card-list {
  margin-block-start: 100px;
  margin-block-end: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card-title {
  font-size: 18px;
  padding: 5px 24px 3px 10px;
}

/* Картинка */
.image-container {
  position: relative;
  overflow: hidden;
  border-top: 2px solid var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
}

.image-label {
  position: absolute;
  font-family: var(--same-font);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  z-index: 1;
  opacity: 50%;
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--label-color), 0 1 var(--label-color),
    1px 0 var(--label-color), 0 -1px var(--label-color);
}

@supports (
  (text-stroke: 1px var(--label-color)) or
    (-webkit-text-stroke: 1px var(--label-color))
) {
  .image-label {
    -webkit-text-stroke: 1px var(--label-color);
    text-stroke: 1px var(--label-color);
    text-shadow: none;
  }
}

.card-image {
  object-fit: cover;
  object-position: center;
  display: block;
  inline-size: 100%;
}

/* текст */

.text-block {
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

/* сердце и папка */

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-block-end: 25px;
  padding-inline-end: 25px;
}

.card__icon-button {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid transparent;
  padding-block-start: 5px;
  cursor: pointer;
}

.card__icon-container {
  max-height: 38px;
  max-width: 54px;
}

.like-icon {
  width: 40px;
  height: 40px;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
  border: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

/* анимация для кнопки лайк */

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: 0.3s ease;
}

.card__like-button {
  min-width: 130px;
  max-height: 38px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.button-filling {
  position: relative;
}

.button-filling::before {
  content: "";
  position: absolute;
  inset: 0;
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  background-color: var(--accent-color);
  transform: scaleX(0);
  z-index: 1;
}

.button-filling:hover::before {
  transform: scaleX(1);
}

.button-filling span {
  position: relative;
  mix-blend-mode: difference;
  color: var(--button-color);
}

/* footer */
.button__text {
  font-family: var(--same-font);
  position: relative;
  z-index: 2;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.button-save {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

/* анимация кнопки сохранения */

.button-save:focus {
  outline: none;
}

.button-save:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: 0.3s ease;
}

.floppy-icon {
  position: relative;
  z-index: 1;
  block-size: 22px;
  inline-size: auto;
  color: var(--button-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column;
  }

  .floppy-icon {
    block-size: 28px;
  }
}

dialog {
  padding: 30px;
  background-color: var(--bg-color);
  color: var(--accent-color);

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: var(--same-font);
  text-transform: uppercase;
  min-height: 191px;
  max-width: 100%;
  border: 2px solid;
}

.dialog-open[open] {
  display: grid;
  grid-template-columns: (39px ,234px);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px 20px;
}

.dialog-text {
  max-width: 234px;
}

.button-close {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  padding: 9px 144px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  grid-column: 1/3;
  position: relative;
  width: 100%;
}

.button-close::before {
  content: "";
  position: absolute;
  inset: 0;
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  background-color: var(--accent-color);
  transform: scaleX(0);
  z-index: 0;
}

.button-close:hover::before {
  transform: scaleX(1);
}

.button-close span {
  position: relative;
  mix-blend-mode: difference;
  color: var(--button-color);
}

.button-close:focus {
  outline: none;
}

.button-close:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: 0.3s ease;
}

.floppy-icon-dialog {
  min-height: 40px;
  min-width: 40px;
}

dialog::backdrop {
  background-color: #000000;
  opacity: 75%;
}

/* фильтры для картинок */
.card-brightness {
  filter: brightness(200%);
}

.card-contrast {
  filter: contrast(150%);
}

.card-blur {
  filter: blur(0.1rem);
}

.card-opacity {
  filter: opacity(0.8);
}

.card-grayscale {
  filter: grayscale(90%);
}

.card-sepia {
  filter: sepia(80%);
}

.card-more-filter {
  filter: brightness(120%) contrast(90%) blur(5px) grayscale(50%);
}
