/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --main-font: 'Inter-Variable', sans-serif;
  --same-font: 'PressStart2P', sans-serif;

  --fw-page: 400;
  --fw-title: 700;

  --bg-color: #FFFFFF;
  --accent-color:  #000000;
  --button-color: #fff;

  --like-contour: #000000;
  --like-sparks: #FF0000;

  --label-color: #FFFFFF;

  --bg-image: 
  repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}

:root.theme-dark {
  --main-font: 'Inter-Variable', sans-serif;
  --same-font: 'PressStart2P', sans-serif;

  --fw-page: 465;
  --fw-title: 785;

  --bg-color: #000000;
  --accent-color: #00CC14;
  --button-color: #00CC14;

  --like-contour: #00CC14;
  --like-sparks: #FF0000;

  --label-color: #000000;

  --bg-image: 
  repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
  linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
}

@media(prefers-color-scheme: dark) {
  :root {
    --main-font: 'Inter-Variable', sans-serif;
    --same-font: 'PressStart2P', sans-serif;

    --fw-page: 465;
    --fw-title: 785;

    --bg-color: #000000;
    --accent-color: #00CC14;
    --button-color: #00CC14;

    --like-contour: #00CC14;
    --like-sparks: #FF0000;

    --label-color: #000000;

    --bg-image: 
    repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
  }
}